{% extends 'base.html' %}
<!-- blank -->
{% block title %} 상품 등록 {% endblock %}
<!-- blank -->
{% block content %}

<!-- 
    user
    code
    name
    price
    size
 -->

<div class="container">
  <h2 class="title-center" style="text-align: center">상품 등록</h2>
  <form
    class="form-area"
    method="POST"
    action="/products/register/"
    style="width: 480px; margin: 0 auto"
  >
    {% csrf_token %}
    <!-- blank -->
    {% if form %}
    <!-- blank -->
    {% for field in form %}
    <!-- blank -->
    <div class="form-group mt-2 mb-2">
      {{field.label_tag}} {{field}} {{field.errors}}
    </div>
    <!-- blank -->
    {% endfor %}
    <!-- blank -->
    {{form.non_field_errors}}
    <!-- blank -->
    {% endif %}
    <hr />
    <div style="float: right">
      <button type="submit" class="btn btn-primary">등록하기</button>
      <a href="/profile/{{user.id}}" class="btn btn-secondary">취소하기</a>
    </div>
  </form>
</div>
{% endblock %}
