{% extends 'base.html' %}
<!-- blank -->
{% block title %} 내 정보 {% endblock %}
<!-- blank -->
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h3>내 정보</h3>
      <div>
        <span><strong>아이디 :</strong> {{user.username}} </span>
      </div>
      <div>
        <span><strong>이메일 :</strong> {{user.email}} </span>
      </div>
      <div>
        <span
          ><strong>성별 :</strong>
          {% if user.gender == "male" %} 남성 {% else %} 여성 {%endif%}
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h3>등록한 상품</h3>
        <div class="btns">
          <a
            class="btn btn-outline-secondary"
            href="/products/{{user.id}}/inventory"
            >재고현황</a
          >
          <a class="btn btn-outline-secondary" href="/products/register">
            등록하기
          </a>
        </div>
      </div>

      <div class="border" style="max-height: 800px; overflow-y: scroll">
        <ul class="list-group list-group-flush">
          {% for product in products %}
          <li class="list-group-item">
            <div style="display: flex; justify-content: space-between">
              <span
                style="
                  width: 70%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                "
                >{{product.name}}</span
              >
              <span>({{product.price}})</span>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 8px;
              "
            >
              <span>재고 : ({{product.stock}})</span>
              <a class="btn btn-danger" href="/products/{{product.id}}/delete">
                등록 취소
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
