{% extends 'base.html' %}
<!-- blank -->

<!-- blank -->
{% block title %} 회원가입 {% endblock %}
<!-- blank -->
{% block content %}
<div class="container">
  <div class="wrap">
    <h2 class="title-center">회원가입</h2>
    <!-- ✅
        1. action의 url 끝에 "/"를 붙여햐 한다.
        2. csrf_token은 django의 보안 서비스 중 하나이다.
      -->
    <form
      class="form-area user-form"
      method="POST"
      action="/sign-up/"
      style="width: 480px; margin: 0 auto"
    >
      {% csrf_token %}
      <!-- blank -->
      {% if form %}
      <!-- blank -->
      {% for field in form %}
      <!-- blank -->
      <div class="form-group mt-2 mb-2">
        {{field.label_tag}} {{field}} {{field.errors}}
      </div>
      <!-- blank -->
      {% endfor %}
      <!-- blank -->
      {% endif %}
      <hr />
      <div style="float: right">
        <button type="submit" class="btn btn-primary">회원가입</button>
        <a href="/sign-in" class="btn btn-secondary">로그인 페이지로</a>
      </div>
    </form>
  </div>
</div>
{%endblock%}
